.border-red{
border:1px solid red
}

.container {
  width: 100% !important;
}

.main-zone{
  display: flex;
  justify-content: center;
}

.list-area{
  width:80%;
}

.search-area{
  width:80%;
}

.upcoming-area{
  width:80%;
}
