/* .border-red{
border:1px solid red
} */

.container {
  width: 100% !important;
}

.body{
  background-color:  #1a1717 !important;
}

.footer{
  background-color:  #1a1717 !important;
  color:#e6dfdf;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 15px;
  font-style: italic;
}

.navbar-main {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-style: italic;
}

.navbar{
  background-color: #1a1717 !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.color-me{
  color:#e6dfdf !important;
  padding-left: 20px;
}

.color-me:hover{
  color:#6b6464 !important;
}

.search-button{
background-color:#e6dfdf;
}

.main-zone{
  display: flex;
  justify-content: center;
}

.list-area{
  width:80%;
}

.moviecard{
border: 5px solid #817a7a;
border-radius: 20px;
background-color: #1a1717;
margin-bottom: 15px;
/* width: 90%; */
transition: 0.4s ease-in;
position: relative;
text-align: center;
}

.moviecard:hover{
transform: translate(-0%, 0%) scale(1.10);
display: flex;
justify-content: center;
text-align: center;
height: 100%;
/* opacity: 20%; */
}

.detail-info{
  padding-top:10%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  width: 100%;
  /* opacity: 85%; */
  background-color: rgba(48, 46, 46, 0.719);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bars{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown {
  margin-bottom: 15px;
  /* background-color: none !important; */
  color: #e6dfdf !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}

.card-letter{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #e6dfdf
}

/* .rating-bar{
  background:black !important;
} */

.card-title{
  font-weight:bolder
}

.small-letter{
  display: flex;
  justify-content: space-around;
}

.pagination {
  text-align: center;
  padding-top: 20px;
}

.pagination a {
  color: #2c2828;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination>li.active>a {
  background-color: #2c2828 !important;
}

.pagination > li > a:hover{
  color: #e6dfdf;
  background-color: #6b6464!important;
}

.bground{
  background-color: #2c2828;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://wallpapercave.com/wp/2TrmmSi.jpg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
